<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online College Magazine</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>general.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessRegRequests</display-name>
    <servlet-name>ProcessRegRequests</servlet-name>
    <servlet-class>admin.ProcessRegRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRegRequests</servlet-name>
    <url-pattern>/ProcessRegRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegProfile</display-name>
    <servlet-name>RegProfile</servlet-name>
    <servlet-class>admin.RegProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegProfile</servlet-name>
    <url-pattern>/RegProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegRequests</display-name>
    <servlet-name>RegRequests</servlet-name>
    <servlet-class>admin.RegRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegRequests</servlet-name>
    <url-pattern>/RegRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectRegRequest</display-name>
    <servlet-name>RejectRegRequest</servlet-name>
    <servlet-class>admin.RejectRegRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectRegRequest</servlet-name>
    <url-pattern>/RejectRegRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>general.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewImage</display-name>
    <servlet-name>ViewImage</servlet-name>
    <servlet-class>general.ViewImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImage</servlet-name>
    <url-pattern>/ViewImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Img</display-name>
    <servlet-name>Img</servlet-name>
    <servlet-class>general.Img</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Img</servlet-name>
    <url-pattern>/Img</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>reguser.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Info</display-name>
    <servlet-name>Info</servlet-name>
    <servlet-class>reguser.Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/Info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserArticle</display-name>
    <servlet-name>ViewUserArticle</servlet-name>
    <servlet-class>reguser.ViewUserArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserArticle</servlet-name>
    <url-pattern>/ViewUserArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewArticle</display-name>
    <servlet-name>ViewArticle</servlet-name>
    <servlet-class>reguser.ViewArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewArticle</servlet-name>
    <url-pattern>/ViewArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserPhotos</display-name>
    <servlet-name>ViewUserPhotos</servlet-name>
    <servlet-class>general.ViewUserPhotos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserPhotos</servlet-name>
    <url-pattern>/ViewUserPhotos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPhotos</display-name>
    <servlet-name>ViewPhotos</servlet-name>
    <servlet-class>reguser.ViewPhotos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPhotos</servlet-name>
    <url-pattern>/ViewPhotos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPhoto</display-name>
    <servlet-name>ViewPhoto</servlet-name>
    <servlet-class>general.ViewPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPhoto</servlet-name>
    <url-pattern>/ViewPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recent_Activity</display-name>
    <servlet-name>Recent_Activity</servlet-name>
    <servlet-class>reguser.Recent_Activity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recent_Activity</servlet-name>
    <url-pattern>/Recent_Activity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>admin.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regex</display-name>
    <servlet-name>Regex</servlet-name>
    <servlet-class>general.Regex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regex</servlet-name>
    <url-pattern>/Regex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registeration</display-name>
    <servlet-name>Registeration</servlet-name>
    <servlet-class>general.Registeration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeration</servlet-name>
    <url-pattern>/Registeration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostArticle</display-name>
    <servlet-name>PostArticle</servlet-name>
    <servlet-class>reguser.PostArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostArticle</servlet-name>
    <url-pattern>/PostArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostPhoto</display-name>
    <servlet-name>PostPhoto</servlet-name>
    <servlet-class>reguser.PostPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostPhoto</servlet-name>
    <url-pattern>/PostPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Preview</display-name>
    <servlet-name>Preview</servlet-name>
    <servlet-class>reguser.Preview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Preview</servlet-name>
    <url-pattern>/Preview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>general.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Like</display-name>
    <servlet-name>Like</servlet-name>
    <servlet-class>general.Like</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Like</servlet-name>
    <url-pattern>/Like</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>general.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>general.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>general.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatedp</display-name>
    <servlet-name>Updatedp</servlet-name>
    <servlet-class>reguser.Updatedp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatedp</servlet-name>
    <url-pattern>/Updatedp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createthread</display-name>
    <servlet-name>createthread</servlet-name>
    <servlet-class>reguser.createthread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createthread</servlet-name>
    <url-pattern>/createthread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tod</display-name>
    <servlet-name>tod</servlet-name>
    <servlet-class>admin.tod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tod</servlet-name>
    <url-pattern>/tod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromotionRequest</display-name>
    <servlet-name>PromotionRequest</servlet-name>
    <servlet-class>reguser.PromotionRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromotionRequest</servlet-name>
    <url-pattern>/PromotionRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModRequests</display-name>
    <servlet-name>ModRequests</servlet-name>
    <servlet-class>admin.ModRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModRequests</servlet-name>
    <url-pattern>/ModRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessModRequests</display-name>
    <servlet-name>ProcessModRequests</servlet-name>
    <servlet-class>admin.ProcessModRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessModRequests</servlet-name>
    <url-pattern>/ProcessModRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addword</display-name>
    <servlet-name>addword</servlet-name>
    <servlet-class>general.addword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addword</servlet-name>
    <url-pattern>/addword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>storenews</display-name>
    <servlet-name>storenews</servlet-name>
    <servlet-class>admin.storenews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storenews</servlet-name>
    <url-pattern>/storenews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complaint</display-name>
    <servlet-name>complaint</servlet-name>
    <servlet-class>admin.complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complaint</servlet-name>
    <url-pattern>/complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostRequests</display-name>
    <servlet-name>PostRequests</servlet-name>
    <servlet-class>Moderator.PostRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostRequests</servlet-name>
    <url-pattern>/PostRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Articleprocess</display-name>
    <servlet-name>Articleprocess</servlet-name>
    <servlet-class>Moderator.Articleprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articleprocess</servlet-name>
    <url-pattern>/Articleprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>general.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatemain</display-name>
    <servlet-name>updatemain</servlet-name>
    <servlet-class>admin.updatemain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatemain</servlet-name>
    <url-pattern>/updatemain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inbox</display-name>
    <servlet-name>Inbox</servlet-name>
    <servlet-class>admin.Inbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/Inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Print</display-name>
    <servlet-name>Print</servlet-name>
    <servlet-class>general.Print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Print</servlet-name>
    <url-pattern>/Print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewThread</display-name>
    <servlet-name>ViewThread</servlet-name>
    <servlet-class>reguser.ViewThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewThread</servlet-name>
    <url-pattern>/ViewThread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports</display-name>
    <servlet-name>Reports</servlet-name>
    <servlet-class>Moderator.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/Reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReport</display-name>
    <servlet-name>ViewReport</servlet-name>
    <servlet-class>admin.ViewReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReport</servlet-name>
    <url-pattern>/ViewReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditorPick</display-name>
    <servlet-name>EditorPick</servlet-name>
    <servlet-class>admin.EditorPick</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorPick</servlet-name>
    <url-pattern>/EditorPick</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewComplaint</display-name>
    <servlet-name>ViewComplaint</servlet-name>
    <servlet-class>admin.ViewComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewComplaint</servlet-name>
    <url-pattern>/ViewComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>admin.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
</web-app>